* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    padding: 10px;
    font-family: 'Anton', sans-serif;
}

.panel {
    position: relative;
    width: 90%;
    height: 5vh;
    margin-top: 10px;
    background-color: #FFE52F;
    border: 2px solid black;
}

.wallet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
}

.game__drum {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 30vh;
    flex-grow: 1;
    margin: 10px;
    border: 2px solid #FFE52F;
    border-radius: 10px;
}

.game__drum-wrap {
    position: relative;
    top: 0;
    min-height: 100%;
    z-index: -1;
    background-color: transparent;
    transition: top 0s ease-in-out;
}

.game__field {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
}


.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 15vh;
}

.play__bid {
    width: 60%;
    height: 35%;
    text-align: center;
    margin-bottom: 20px;
    border: 1.5px solid black;
}

.btn {
    width: 40%;
    height: 30%;
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    background-color: #FFE52F;
    border: 1.5px solid black;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin: 15px 0 15px 0;
    background-color: #FFE52F;
    border: 2px solid black;
}

.score__text {
    margin-bottom: 5px;
    font-size: 18px;
}

.score__result {
    margin-bottom: 10px;
    font-size: 25px;
}